
<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/blue.css?v=2">
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="wrapper">
  
  	<header id="header">
  	
  		<h1>Coming soon!</h1>
  		
  		<p>ComingSoon is a simple holding page template displaying a countdown, a Twitter feed and a newsletter signup. Perfect for the development period of your next venture!</p>
  	
  	</header>
    	
	<article class="main">
	
		<section class="col-1">
		
			<h2>Launching in T-minus...</h2>
			
			<div id="defaultCountdown"></div>
			
			<p>We're aiming to launch on June 5 2013. Be sure to follow us on Twitter and subscribe to our newsletter to be notified when we blast off!</p>
			
		</section>
		
		<section class="col-2 tweets">
			<h2>Twitter <a href="#" title="Follow us on Twitter" class="tooltip">Follow us</a></h2>
			<ul id="twitter_update_list"><li><p class="tweet">&nbsp;</p></li></ul>
		</section>
		
		<section class="col-3">
			<h2>Subscribe</h2>
			<p>Sign up to our newsletter and receive a notification when we launch!</p>
			<form class="signup">
				<p>
					<label for="email">
						Email
					</label>
					<div class="signup">
						<input class="input-text" placeholder="email@email.com" type="email" />
						<input type="submit" value="Go" class="button" />
					</div>
				</p>
			</form>
		</section>
	
	</article>
    
    <footer id="footer">
    
    	<p>Any footer copy would go down here.</p>

    </footer>
    
  </div> <!--! end of #wrapper -->



  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->
  
  <!-- Load the Twitter javascript last -->
  
  <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
  <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/envato.json?callback=twitterCallback2&count=2"></script>
  
</body>
</html>